html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }

nav{
    border: 1px, black;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 50%;
}
#search01{
    background-image: url('images/search-icon-62943.png');
}
a{
    text-decoration: none;
}
#search02{
    background-image: url('images/search-icon-62943.png');
    border: 2px solid green;
}
#search03{
    background-image: url('images/search-icon-62943.png');
    border: 2px solid lightblue;
}
#fullName{
    width: 250;
    border: 2px solid lightblue;
}